streamlit
langchain
langchain-community
langchain-groq
faiss-cpu
beautifulsoup4
matplotlib
networkx
requests
pandas
sentence-transformers
aiohttp
selenium
webdriver-manager
PyPDF2
python-dotenv
lxml
html5lib
huggingface_hub
